[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = git@github.com:everiq/a.vim.git
[submodule "vim/bundle/vim-wombat256i"]
	path = vim/bundle/vim-wombat256i
	url = https://github.com/dsolstad/vim-wombat256i.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/bundle/calendar-vim"]
	path = vim/bundle/calendar-vim
	url = https://github.com/mattn/calendar-vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/Colour-Sampler-Pack"]
	path = vim/bundle/Colour-Sampler-Pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-sleuth"]
	path = vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim/bundle/DrawIt"]
	path = vim/bundle/DrawIt
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "vim/bundle/FuzzyFinder"]
	path = vim/bundle/FuzzyFinder
	url = git@github.com:vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/l9"]
	path = vim/bundle/l9
	url = git@github.com:vim-scripts/L9.git
[submodule "vim/bundle/ocp-index"]
	path = vim/bundle/ocp-index
	url = git@github.com:OCamlPro/ocp-index.git
[submodule "vim/bundle/ocp-indent"]
	path = vim/bundle/ocp-indent
	url = git@github.com:OCamlPro/ocp-indent.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
